@model PROJETOMVC.Models.ContatoModel
@{
    ViewData["Title"] = "Confirmação deletar contato";
}

<div class="text-center">
    <h2>Tem certeza que deseja excluir este @Model.Nome</p></h2>
</div>
<form asp-action="DeletarConfirmado" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Excluir</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
